@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Hind Siliguri", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
}
